$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$line-height: 1.5;
$font-weight: 400;

$color-light: #f5f5f5;
$color-dark: #5c5a5a;

$background-color-light: #fefefe;
$background-color-dark: #151718;
$color-light: #444444;
$color-dark: #f2f2f2;

$button-background-color: #ededed;

$table-color-light: #4d4d4d;
$table-color-dark: #ffffff;
$table-header-background-color-light: #dddddd;
$table-header-background-color-dark: #444444;
$table-background-color-light: #f0f0f0;
$table-background-color-dark: #5c5a5a;
$table-row-hover-color-light: #d9d9d9;
$table-row-hover-color-dark: #5c5a5a;
$table-row-even-color-light: #e6e6e6;
$table-row-even-color-dark: #202324;
$table-row-odd-color-light: #e6e6e6;
$table-row-odd-color-dark: #202324;
